// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    8000px;
$on-palm:          600px;
$on-laptop:        8000px;
$on-medium:        8000px;
$on-large:         1000px;
